<app-header></app-header>
<div class="bradcam_area breadcam_bg_3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <div style="width: auto !important; font-size:50px; float: left;">✒</div>
          <div class="group">
            <input type="text" style="color:white;" [formControl]="blogTitle" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Title</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <ckeditor #myEditor [editor]="Editor" [config]="config"></ckeditor>
  <div>
    <br />
    <button class="btn btn-primary" (click)="onBlogSubmit()">Submit Blog Post</button>
  </div>
</div>
<br />
<app-footer></app-footer>