#border{
    
  
   
    position: absolute ;
   
    
    
}

.main_text{
    margin-left: 5px;
    animation: spin 6s linear infinite;
}

#border{
    animation: animated-cursor 600ms steps(30,end) infinite;
 }

 
@keyframes animated-cursor{
    from{ color: rgba(0,255,0,.75);}
    to{ color: transparent;}
  }