<!doctype html>
<html>

<head>
  <!-- HTML Boiler Plate-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Website Contest 2020</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <app-header></app-header>

  <div class="slider_area" #home>
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-lg-10 col-md-10">
            <div class="slider_text">
              <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                <div style="margin:20px;"><img src="/assets/img/logo.png" alt="">
                </div>

                <div id="border">|</div>

                <div class="main_text">
                  {{emojis[i]}} code.
                </div>


              </h3>
              <!-- <a class="boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s"
                href="portfolio.html">Visit Our Works</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="service_area" #work>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center mb-70">
            <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">What we do</span>
            <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
              ML. Web. Graphics. Data Science. <br>
              You name it. We do it. <br>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-4">
          <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
            <div class="icon">
              <img src="/assets/img/svg_icon/1.svg" alt="">
            </div>
            <h3>Graphic design</h3>
            <p>Photoshop, Adobe XD, Figma.<br> We design the assets ourself. <br></p>
          </div>
        </div>
        <div class="col-xl-4 col-md-4">
          <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="icon">
              <img src="/assets/img/svg_icon/2.svg" alt="">
            </div>
            <h3>Web design</h3>
            <p>Worked on Web Development projects for top companies including GE Health Care, Infosys.</p>
          </div>
        </div>
        <div class="col-xl-4 col-md-4">
          <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
            <div class="icon">
              <img src="/assets/img/svg_icon/3.svg" alt="">
            </div>
            <h3>ML, AI</h3>
            <p>Experts in Machine Learning and Artifical Intelligence. We build scalable models for all needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial_area  -->
  <div class="testimonial_area " #goals>
    <div class="section_title text-center mb-70">
      <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">What we do</span>
      <h3 style="color: white; " class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
        Goals as club.
      </h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="testmonial_active owl-carousel">
            <div class="single_carousel">
              <div class="single_testmonial text-center">
                <div class="quote">
                  <img src="img/testmonial/quote.svg" alt="">
                </div>
                <p>To give students the skills, confidence and opportunity <br>
                  to change their world using coding and help
                  them become <br> successful in GSoC, ACM-ICPC and other recognized coding competitions

                  <br>


              </div>
            </div>
            <div class="single_carousel">
              <div class="single_testmonial text-center">
                <div class="quote">
                  <img src="img/testmonial/quote.svg" alt="">
                </div>
                <p>To develop coding skills among the students and incorporate a coding culture.



              </div>
            </div>
            <div class="single_carousel">
              <div class="single_testmonial text-center">
                <div class="quote">
                  <img src="img/testmonial/quote.svg" alt="">
                </div>
                <p>To mentor students with Google recognized organizations <br> and help them contribute to open source
                </p>

              </div>
            </div>
            <div class="single_carousel">
              <div class="single_testmonial text-center">
                <div class="quote">
                  <img src="img/testmonial/quote.svg" alt="">
                </div>
                <p>To Give Opportunity to each and every student of the club to crack <br> globally recognized
                  competitions
                  such as Google Code Jam and ACM ICPC
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team_area ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center mb-90">
            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Growth</h3>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Every friday, we host an online
              competitive coding competition for the members of our team and
              the growth in the number of participants has been inspiring!
            </p>
          </div>
        </div>
      </div>
      <app-chart></app-chart>
    </div>
  </div>

  <div class="team_area " #achievements>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center mb-90">
            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Achievements</h3>
            <ul class="unordered-list wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <li> Participated in the ACM-ICPC Regionals at Amritapuri, 2020 and 2018 </li>
              <li> Winners and 2nd runners up at XCeed Geek!athon, 2018 </li>
              <li> 2nd runners up at Bosch’s iNSCRIBE 2017 </li>
              <li> 2nd runners up in Cisco Ideathon 2018 </li>
              <li> Winners and Runners up, Techathlon, Curl Analytics. </li>
              <li> Winner inGenious hackathon 2018. </li>
              <li> Over 60 club members from the 3rd year have received internships over the last semester.</li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>



  <!-- footer start -->
  <app-footer></app-footer>
  <!--/ footer end  -->

  <!-- JS here -->
  <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/ajax-form.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="assets/js/scrollIt.js"></script>
  <script src="assets/js/jquery.scrollUp.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/nice-select.min.js"></script>
  <script src="assets/js/jquery.slicknav.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/gijgo.min.js"></script>


</body>

</html>