.header-area {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  
  @media (max-width: 767px) {
    /* line 1, ../../Arafath/CL/December/233. Startup/HTML/scss/_header.scss */
    .header-area {
      padding-top: 0;
    }
  }
  