<app-header (childEvent)="scroll($event)"></app-header>
<div class="bradcam_area breadcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Activities</h3>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Coding club actively conducts numerous
            knowledge enhancing and fun events.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio_image_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
          <div class="portfolio_thumb">
            <img src="assets/img/activities/codewars.png" alt="">
          </div>
          <div class="portfolio_hover">
            <div class="title">
              <span>Code Wars was the second edition of the Club's annual coding competition. The event received a warm
                response from the students on campus. The event was aimed at recruitment for the club and also at
                familiarizing students with the types of questions asked in placement tests.
              </span>
              <h3>Codewars (September 2017)</h3>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
          <div class="portfolio_thumb">
            <img src="assets/img/activities/gsoc.png" alt="">
          </div>
          <div class="portfolio_hover">
            <div class="title">
              <span>A head start event into GSoC was planned by the Coding Club to give the members an idea about the
                event, application criteria, work involved and an overall picture of the program. The event had two
                speakers – Prof. Channa Bankapur And Mr. Ankush Mishra, both of whom gave valuable insights into GSoC
                and spoke of the importance of competitive coding.</span>
              <h3>GSoC Head Start</h3>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-lg-4">
        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="portfolio_thumb">
            <img src="assets/img/activities/techl.png" alt="">
          </div>
          <div class="portfolio_hover">
            <div class="title">
              <span>Techathalon was an intra-collegiate machine learning and block-chain hackathon open to students of
                all branches and semesters. The event saw wide participation from students across semesters and
                branches, with 83 teams. The top 20 teams qualified and prizes worth Rs. 60,000 were awarded to the
                winners.</span>
              <h3>Techathlon, Curl Analytics (Oct, 2018) </h3>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-lg-4">
        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
          <div class="portfolio_thumb">
            <img src="img/portfolio/4.png" alt="">
          </div>
          <div class="portfolio_hover">
            <div class="title">
              <span>The club successfully organized the second edition of Code Marathon. The event saw 8 speakers across
                the day who discussed with the students various problem-solving techniques related to Data Structures
                and Algorithms followed by brainstorming problems to solve.</span>
              <h3>Code Marathon 2017, 2018 & 2019 </h3>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-lg-4">
        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
          <div class="portfolio_thumb">
            <img src="img/portfolio/5.png" alt="">
          </div>
          <div class="portfolio_hover">
            <div class="title">
              <span>App Design</span>
              <h3>Colorlib Mobile App</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>