<app-header></app-header>

<div class="bradcam_area breadcam_bg_3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>{{currentPost['title']}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post">
          <div class="feature-img">
            <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
          </div>
          <div class="blog_details">
            {{currentPost['content']}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>